<template>

  <div>
    <div v-for="data, index in resultProp" v-bind:key="index" class="m-4 border-2 rounded-md border-solid border-emerald-500 container mx-auto px-4">
        <h4 class="font-bold mt-2">Question {{index +1}}:</h4> 
        <p class="mb-2">{{data.question}}</p>
        <h4 class="font-bold mt-2">Correct Solution: </h4>
        <p class="mb-2">{{data.correct_answer}}</p>
        <h4 class="font-bold mt-2">Incorrect Solution: </h4>
        <p class="mb-2">{{data.incorrect_answers}}</p>
        <h4 class="font-bold mt-2">Given Solution: </h4>
        <p class="mb-2">{{answeredProp[index].load}}</p>
    </div>
  </div>
      
</template>

<script setup>

const props = defineProps({ 
  resultProp: {
    type: Object,
    required: true,
  },
  answeredProp: {
    type: Object,
    required: true,
  }
  });

</script>