<template>
    <div>
        <Result
        :resultProp="theQuestion"
        :answeredProp="theAnsweredQuestion"
        />

        <button @click="backStartScreen" class="bg-slate-800 text-white mb-3 p-2 py-1 rounded">Go back to the start</button>
        <button @click="replayGame" class="bg-slate-800 text-white mb-3 ml-4 p-2 py-1 rounded">Replay the game</button>
        <button @click="updateTheHighscore" class="bg-slate-800 text-white mb-3 ml-4 p-2 py-1 rounded">Update your highscore!</button>
    </div>
    
</template>

<script setup>
//-- Importing
import { onBeforeMount } from '@vue/runtime-core';
import { useStore } from "vuex";
import { computed } from "vue";
import Result from './ResultRun.vue';
import { useRouter } from "vue-router";
import { updateHighscore } from "../../api/users";

const router = useRouter();
const store = useStore();

//-- Import the questions and answered questions from the store
const questions = computed(() => store.state.questions);
const answeredQuestions = computed(() => store.state.answeredquestions);
const theQuestion = questions.value;
const theAnsweredQuestion = answeredQuestions.value;

//-- Import the questions
onBeforeMount(()=>{
   store.dispatch('getQuestions');
})

function updateTheHighscore() {
    //-- Import the id from the store and use it in the update highscore function
    const identity = computed(() => store.state.id);
    updateHighscore(identity.value);
}

function backStartScreen() {
    router.push("/");
}

function replayGame() {
    router.push("/questions");
}

</script>