<template>

    <main class="m-4 border-2 rounded-md border-solid border-emerald-500 container mx-auto px-4">
        <QuestionsRun/>
    </main>

</template>

<script setup>

import QuestionsRun from "../components/Question/QuestionsRun.vue"

</script>
