<template>

  <main class="m-4 border-2 rounded-md border-solid border-emerald-500 container mx-auto px-4">

    <div class="bg-emerald-200 m-4 border-2 rounded-md border-solid border-emerald-500 container mx-auto px-4">
      <h1 class="font-bold">Welcome to the result page of user: {{ username }}!</h1>
      <h1 class="font-bold">  Your highscore: {{highscore}}
      </h1>
    </div>
    
    <ResultsRun/>
     
  </main>

</template>

<script setup>
//-- Importing
import ResultsRun from '../components/Results/ResultsRun.vue';
import { useStore } from "vuex";
import { computed } from "@vue/runtime-core";

//-- Import the name and highscore from the store
const store = useStore();
const user = computed(() => store.state.name);
const score = computed(() => store.state.highscore);
const username = user.value;
const highscore = score.value;

</script>
