<template>

    <main class="m-4 border-2 rounded-md border-solid border-emerald-500 container mx-auto px-4">
        <h1 class="mb-3 text-2xl">This is the start screen</h1>

        <form @submit.prevent="onSubmit" class="mb-3">
            <fieldset class="mb-3">
                <label for="username" aria-label="Username" class="block">Username</label>
                <input
                    type="text"
                    id="username"
                    placeholder=" username"
                    class="border border-slate-300"
                    v-model="username"
                />
            </fieldset>

            <button type="submit" class="bg-emerald-500 text-white mr-4 p-3 rounded font-bold">Register</button>
        </form>

        <form class="mb-3">
        <fieldset class="mb-3">
            <legend class="mb-1">Trivia settings:</legend>


            <div class="mb-1">
            <label for="numberOfQuestions">Number of questions: </label>
                <input 
                type="number"
                id="numberQ"
                v-model="numberOfQuestions"
                class="border border-slate-300"
                >
            </div>

            <fieldset class="mb-1">
            <label for="difficulty">Difficulty: </label>
            <select id="difficulty" v-model.lazy="level" class="border border-slate-300">
                <option disabled value="">Any</option>
                <option label="easy">easy</option>
                <option label="medium">medium</option>
                <option label="hard">hard</option>
            </select>
            </fieldset>

            <fieldset class="mb-1">
            <label for="category" >Category: </label>
            <select id="category" v-model.lazy="categoryNumber" class="border border-slate-300">
                <option disabled value="">Any Category</option>
                <option label="General Knowledge">9</option>
                <option label="Entertainment: books">10</option>
                <option label="Entertainment: Film">11</option>
                <option label="Entertainment: Music">12</option>
                <option label="Entertainment: Music & Theatres">13</option>
                <option label="Entertainment: Television">14</option>
                <option label="Entertainment Video Games:">15</option>
                <option label="Entertainment: Board Games">16</option>
                <option label="Science & Nature">17</option>
                <option label="Science: Computers">18</option>
                <option label="Science: Mathematics">19</option>
                <option label="Mythology">20</option>
                <option label="Sports">21</option>
                <option label="Geography">22</option>
                <option label="History">23</option>
                <option label="Politics">24</option>
                <option label="Art">25</option>
                <option label="Celebrities">26</option>
                <option label="Animals">27</option>
                <option label="Vehicles">28</option>
                <option label="Entertainment: Comics">29</option>
                <option label="Science: Gadgets">30</option>
                <option label="Entertainment: Japanese Anime & Manga">31</option>
                <option label="Entertainment: Cartoon & Animations">32</option>
            </select>
            </fieldset>

            <button @click="begin" class="bg-emerald-500 text-white mr-4 p-3 rounded font-bold">Lets go</button>
        </fieldset>
        </form>
    </main>

</template>


<script setup>
//-- Importing
import { ref } from '@vue/reactivity';
import { checkName } from '../api/users';
import { useRouter } from "vue-router";
import store from '../utils/store';
import { quest_URL } from '../api/index';

//-- Define the constants and variables
const username = ref("");
const router = useRouter();
let numberOfQuestions = ref("1");
let categoryNumber = ref("");
let level = ref("");

//-- The function to fetch the url
function setCorrectUrl() {
    //-- The if-statements are to set the correctURL.
    if(categoryNumber.value == "" && level.value == "") {
        store.commit("setQuestionURL", `${quest_URL}amount=${numberOfQuestions.value}`)

    } else if (categoryNumber.value == "") {
        store.commit("setQuestionURL", `${quest_URL}amount=${numberOfQuestions.value}&difficulty=${level.value}`)

    } else if (level.value == "") {
        store.commit("setQuestionURL", `${quest_URL}amount=${numberOfQuestions.value}&category=${categoryNumber.value}`)
    
    } else {
        store.commit("setQuestionURL", `${quest_URL}amount=${numberOfQuestions.value}&category=${categoryNumber.value}&difficulty=${level.value}`)
    } 
}

//-- This function is to register the user
async function onSubmit() {
    //  Check the name and register
    await checkName(username.value);
}

//-- This function is to set the correctURL and then go to the question page
function begin () {
    setCorrectUrl();
    router.push("/questions");
}

</script>