<template>
    <main class="container mx-auto px-4">
        <Question
        :questionProp="questions[currentQuestion]"
        v-if="questions[currentQuestion]"
        @next="nextQuestion"
        />
        
        <button @click="seeResults" class="bg-slate-800 text-white mt-6 mb-3 mr-4 p-2 py-1 rounded">Go to the results</button>
        &nbsp;
        <button @click="nextQuestion" class="bg-slate-800 text-white mt-6 mb-3 mr-4 p-2 py-1 rounded">Next Question</button>
    </main>
</template>

<script setup>
//-- Importing
import { onBeforeMount } from '@vue/runtime-core'
import { useStore } from "vuex";
import { computed } from "vue";
import { useRouter } from "vue-router";
import Question from "./QuestionRun.vue";
import { ref } from "@vue/reactivity";

//-- Import the questions from the store
const store = useStore();
const questions = computed(() => store.state.questions);

const router = useRouter();

//-- Start with question 1
let currentQuestion = ref(0);

//-- Import the questions
onBeforeMount(()=>{
   store.dispatch('getQuestions')
})

const nextQuestion= () => {
    //-- If the current question is not the last one, go to the next question
    if ((currentQuestion.value + 1) < questions.value.length  ) {
        currentQuestion.value = currentQuestion.value + 1
    }
    else{
        alert("You answered the latest question. You can continue to the results now.");
    }
}

function seeResults() {
    router.push('/results')
}

</script>