<template>
  <div>
    <h4 class="mr-4 py-4 font-bold">Question: {{questionProp.question}}</h4>
    
    <button @click="incorrectQuestion(questionProp, index)"  v-for="(answer, index) in questionProp.incorrect_answers" :key="index" class="bg-emerald-500 text-white mb-3 mr-4 p-2 py-1 rounded">
        {{ answer }}
    </button> 

    <button @click="correctQuestion(questionProp)" class="bg-emerald-500 text-white mb-3 mr-4 p-2 py-1 rounded">{{questionProp.correct_answer}}</button>
  </div>
  
</template>

<script setup>
//-- Importing
import { ref } from 'vue';
import store from '../../utils/store';

//-- Define constants for the next function
const deliver = ref(false);
const emit = defineEmits(["next"]);

let highscore = 0

function incorrectQuestion (questionProp, index) {
  store.commit("addAnsweredQuestion", questionProp.incorrect_answers[index])
  console.log("You clicked the incorrect answer");
  alert("You clicked the incorrect answer");
  next()
}

function correctQuestion(questionProp) {
  highscore = highscore + 10;
  store.commit("setHighScore", highscore)
  store.commit("addAnsweredQuestion", questionProp.correct_answer)
  console.log("You clicked the correct answer");
  alert("You clicked the correct answer");
  next()
}

const props = defineProps({ 
  questionProp: {
    type: Object,
    required: true,
  }
  });

//-- This function overrides the nextQuestion function in the Questionsrun.vue file
function next() {
  deliver.value = false;
  emit("next");
}

// question as prop
</script>
